.facilities {
  width: 90%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.facilities-col {
  flex: 1;
  max-width: 300px; /* reduces card size */
  text-align: left;
}

.facilities-col img {
  width: 100%;
  height: 300px; /* smaller image height */
  object-fit: cover;
  border-radius: 10px;
}

.facilities-col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
}

.facilities-col p {
  padding: 0;
}
